<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="/assets/images/users/user.png" alt="user-img" title="TL Fleet"
                    class="rounded-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="mdi mdi-adjust"></i></div>
            </div>
            <h5><a href="#">TL Fleet</a> </h5>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">
                        <i class="mdi mdi-settings"></i>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="#" class="text-custom">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->

        <!--- Sidemenu -->
        <div id="sidebar-menu"> 
            <ul>
                <li class="text-muted menu-title">Navigation</li>

                <li>
                    <a href="/" class="waves-effect"><i class="mdi mdi-view-dashboard"></i> <span>
                            Dashboard </span> </a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-car"></i>
                        <span>Vehicles</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/vehicle/all">Vehicle List</a></li>
                        <li><a href="/assignment/all">Vehicle Assignment</a></li>
                        <li><a href="#">Expense history</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-steering"></i>
                        <span>Operators</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/operators/all">Operator List</a></li>
                        <li><a href="/operators/add">Add Operator</a></li>
                        <li><a href="#">Assign Operator</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-check"></i><span>
                            Inspections </span><span class="menu-arrow"></span></a> </a>
                    <ul class="list-unstyled">
                        <li><a href="/inspection/all">Inspection History</a></li>
                        <li><a href="/inspection/aDD">Add Inspection</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-warning"></i><span>
                            Issues </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/issue/all">Issue list</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-alarm"></i><span>
                            Reminders </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="#">Service Reminder</a></li>
                        <li><a href="#">Vehicle Renewal</a></li>
                        <li><a href="#">Contact Renewal</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-gas-station"></i><span>
                            Fuel </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="#">Fuel History</a></li>
                        <li><a href="#">Fuel Integrations</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i
                            class="mdi mdi-nature-people"></i><span>Contacts & User </span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="#">Contact list</a></li>
                        <li><a href="#">User Mangement</a></li>
                        <li><a href="#">Vendor List</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i
                            class="mdi mdi-screwdriver"></i><span>Parts & inventories </span> <span
                            class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="#">Contact list</a></li>
                        <li><a href="#">User Mangement</a></li>
                        <li><a href="#">Vendor List</a></li>
                    </ul>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>